@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Maven+Pro:400,700");
img {
  width: 100%;
  transition: all .4s linear; }

address {
  padding: 10px 5% 10px 5%;
  margin-bottom: 0;
  font-family: "Lato", Helvetica, sans-serif; }

address p {
  padding-top: 11px;
  color: white; }

.no-point {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.btn, .btn:focus {
  position: relative;
  padding: 5px 5px;
  color: #CED4DD;
  text-align: center;
  display: inline-block;
  transition: all .4s ease-in;
  transition-delay: .2s;
  margin-top: 5px; }

.btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 0%;
  height: 3px;
  background: #CED4DD;
  transition: all .2s ease-in; }

.btn:hover::before {
  width: 40%; }

.btn:hover {
  color: #CED4DD; }

.circle-after {
  position: relative; }

.circle-after::after {
  content: "\25cf";
  position: absolute;
  right: 0;
  top: 30%;
  color: #CED4DD; }

.contact-info {
  background: #21242D;
  border-bottom: 7px solid #A1ABC4; }

.contact-info a, h4 {
  color: #ffffff; }

h1 {
  font-size: 5vw; }

.quote {
  position: relative;
  padding-bottom: 80vh; }

.quote h2 {
  position: absolute;
  transition: color .3s ease-in;
  cursor: default; }

.quote h2:hover {
  color: #21242D;
  cursor: default;
  z-index: 5; }

.teamwork {
  font-size: 7vw;
  position: absolute;
  top: 40%;
  left: 35%;
  color: #A10010;
  font-family: "Lato", Helvetica, sans-serif; }

.art {
  font-size: 5vw;
  position: absolute;
  top: 20%;
  right: 30%;
  color: #A10010;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.engr {
  font-size: 6vw;
  color: #CED4DD;
  position: absolute;
  top: 35%;
  right: 13%;
  transform: rotateZ(270deg);
  font-family: "Maven Pro", Helvetica, sans-serif; }

.cosplay {
  font-size: 4vw;
  color: #A1ABC4;
  bottom: 0;
  left: 4%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.dance {
  font-size: 3vw;
  color: #A1ABC4;
  position: absolute;
  transform: rotateZ(90deg);
  bottom: 5%;
  left: 0;
  font-family: "Lato", Helvetica, sans-serif; }

.curious {
  font-size: 5vw;
  color: #A10010;
  left: 5%;
  top: 20%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.kind {
  font-size: 7vw;
  color: #A1ABC4;
  right: 30%;
  bottom: 20%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.web {
  font-size: 6vw;
  color: #CED4DD;
  right: 5%;
  bottom: 10%;
  font-family: "Lato", Helvetica, sans-serif; }

.ux {
  font-size: 4vw;
  color: #CED4DD;
  top: 50%;
  left: 10%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.ui {
  font-size: 5vw;
  color: #A10010;
  transform: rotateZ(90deg);
  top: 20%;
  left: 40%;
  font-family: "Lato", Helvetica, sans-serif; }

.passionate {
  font-size: 6vw;
  color: #A10010;
  left: 25%;
  top: 5%;
  font-family: "Lato", Helvetica, sans-serif; }

.compassionate {
  font-size: 3vw;
  color: #CED4DD;
  left: 42%;
  top: 20%;
  font-family: "Lato", Helvetica, sans-serif;
  transform: rotateZ(270deg); }

.creative {
  font-size: 8vw;
  color: #CED4DD;
  right: 50%;
  bottom: 30%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.uconn {
  font-size: 6vw;
  color: #CED4DD;
  left: 10%;
  bottom: 10%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.dm {
  font-size: 5vw;
  color: #A1ABC4;
  transform: rotateZ(90deg);
  top: 30%;
  right: 5%;
  font-family: "Lato", Helvetica, sans-serif; }

.tech {
  font-size: 5vw;
  color: #A1ABC4;
  transform: rotateZ(270deg);
  top: 40%;
  left: 10%;
  font-family: "Maven Pro", Helvetica, sans-serif; }

.grateful {
  font-size: 6vw;
  color: #A10010;
  right: 5%;
  bottom: 40%;
  font-family: "Lato", Helvetica, sans-serif; }

.stem {
  font-size: 4vw;
  color: #CED4DD;
  top: 5%;
  right: 5%;
  font-family: "Lato", Helvetica, sans-serif; }

.bravery {
  font-size: 3vw;
  top: 20%;
  left: 4%;
  transform: rotateZ(90deg);
  color: #A1ABC4; }

.patient {
  font-size: 5vw;
  top: 80%;
  left: 60%;
  color: #A1ABC4; }

.content:before {
  content: "";
  display: block;
  position: static;
  width: 40%;
  height: 30px;
  background: #A10010;
  margin-top: 50px;
  margin-bottom: 120px; }

.overlay-back {
  margin: 50px 0px;
  float: left; }

.overlay-back.red {
  background: #A10010; }

.overlay-back.dark-grey {
  background: #A1ABC4; }

.overlay-back.light-grey {
  background: #CED4DD; }

.overlay-back.black {
  background: #21242D; }

.overlay-back {
  position: relative;
  display: block; }

.overlay-back:hover div {
  opacity: 0;
  transition: opacity .4s linear; }

.overlay-text {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  padding: 17%;
  padding-bottom: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 2.2vw;
  color: white;
  transition: opacity .4s linear;
  transition-delay: .1s; }

.overlay-back:hover .overlay-text {
  opacity: 1; }

.remove-space {
  margin: 0;
  padding: 0; }

.secret-santa {
  position: relative;
  margin-top: 100px; }
  .secret-santa h2 {
    font-family: "Maven Pro", Helvetica, sans-serif;
    color: #A1ABC4; }
  .secret-santa h3 {
    font-family: "Lato", Helvetica, sans-serif;
    font-style: italic;
    color: #A10010; }
  .secret-santa p {
    padding: 20px 20px 0px 15px;
    font-family: "Lato", Helvetica, sans-serif;
    letter-spacing: .7px; }
  .secret-santa .text-contain::before {
    content: "";
    display: block;
    background: #A10010;
    position: absolute;
    height: 80%;
    width: 3px;
    top: 10%;
    left: -30px; }

.text-contain {
  padding-left: 12%; }

@media screen and (min-width: 992px) {
  .secret-santa::before {
    width: 3px; }

  .text-contain {
    padding-left: 0; } }

/*# sourceMappingURL=main.css.map */
