@import url("https://fonts.googleapis.com/css?family=Exo:300|Raleway:400");
body {
  margin-bottom: 100px; }

img, picture {
  width: 100%;
  transition: all .4s linear; }

html, .container-fluid {
  padding-left: 0;
  padding-right: 0; }

.row {
  width: 100%;
  margin: 0; }

@-webkit-keyframes fall {
  0% {
    top: -40px;
    opacity: 0; }
  40% {
    opacity: .3; }
  100% {
    top: 0px;
    opacity: 1; } }
@-moz-keyframes fall {
  0% {
    top: -40px;
    opacity: 0; }
  40% {
    opacity: .3; }
  100% {
    top: 0px;
    opacity: 1; } }
@-o-keyframes fall {
  0% {
    top: -40px;
    opacity: 0; }
  40% {
    opacity: .3; }
  100% {
    top: 0px;
    opacity: 1; } }
@keyframes fall {
  0% {
    top: -40px;
    opacity: 0; }
  40% {
    opacity: .3; }
  100% {
    top: 0px;
    opacity: 1; } }
.fall, .contact-info {
  position: relative;
  animation: fall 1.4s ease-out 1 forwards;
  -webkit-animation: fall 1.4s ease-out 1 forwards;
  -o-animation: fall 1.4s ease-out 1 forwards;
  -ms-animation: fall 1.4s ease-out 1 forwards;
  -moz-animation: fall 1.4s ease-out 1 forwards; }

.contact-info {
  background: #4C3522;
  border-bottom: 7px solid #7F5838;
  padding: 10px 5% 10px 5%;
  margin: 0;
  width: 100%;
  font-family: "Raleway", Helvetica, sans-serif; }
  .contact-info a {
    float: left !important;
    display: inline-block !important; }

address p {
  padding-top: 11px;
  color: white; }

.no-point {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.btn, .btn:focus {
  position: relative;
  padding: 5px 0px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  transition: all .4s ease-in;
  transition-delay: .2s;
  margin-top: 5px;
  margin-left: 30px; }

.btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  height: 3px;
  background: #957F6E;
  transition: all .2s ease-in; }

.btn:hover::before {
  width: 80%; }

.btn:hover {
  color: #957F6E; }

.circle-after {
  position: relative; }

.circle-after::before {
  content: "\25cf";
  position: absolute;
  left: 0;
  top: 30%;
  color: #CCAF97; }

.quote {
  position: relative;
  padding-bottom: 80vh; }

.quote h2 {
  position: absolute;
  transition: all .5s ease-in;
  cursor: default; }

.quote h2:hover {
  color: black;
  cursor: default;
  z-index: 5; }

.teamwork {
  font-size: 7vw;
  position: absolute;
  top: 40%;
  left: 35%;
  color: #CC8C5A;
  font-family: "Raleway", Helvetica, sans-serif; }

.teamwork.clicked {
  transform: rotateZ(45deg); }

.art {
  font-size: 5vw;
  position: absolute;
  top: 20%;
  right: 30%;
  color: #4C3522;
  font-family: "Exo", Helvetica, sans-serif; }

.art.clicked {
  transform: rotateZ(135deg); }

.engr {
  font-size: 6vw;
  color: #CCAF97;
  position: absolute;
  top: 35%;
  right: 13%;
  transform: rotateZ(270deg);
  font-family: "Exo", Helvetica, sans-serif; }

.engr.clicked {
  transform: rotateZ(360deg); }

.cosplay {
  font-size: 4vw;
  color: #4C3522;
  bottom: 0;
  left: 4%;
  font-family: "Exo", Helvetica, sans-serif; }

.cosplay.clicked {
  transform: rotateZ(270deg); }

.dance {
  font-size: 3vw;
  color: #CCAF97;
  position: absolute;
  transform: rotateZ(90deg);
  bottom: 5%;
  left: 0;
  font-family: "Raleway", Helvetica, sans-serif; }

.dance.clicked {
  transform: rotateZ(135deg); }

.curious {
  font-size: 5vw;
  color: #7F5838;
  left: 5%;
  top: 20%;
  font-family: "Exo", Helvetica, sans-serif; }

.curious.clicked {
  transform: rotateZ(60deg); }

.kind {
  font-size: 7vw;
  color: #7F5838;
  right: 30%;
  bottom: 20%;
  font-family: "Exo", Helvetica, sans-serif; }

.kind.clicked {
  transform: rotateZ(35deg); }

.web {
  font-size: 6vw;
  color: #CCAF97;
  right: 5%;
  bottom: 10%;
  font-family: "Raleway", Helvetica, sans-serif; }

.web.clicked {
  transform: rotateZ(165deg); }

.ux {
  font-size: 4vw;
  color: #CCAF97;
  top: 50%;
  left: 10%;
  font-family: "Exo", Helvetica, sans-serif; }

.ux.clicked {
  transform: rotateZ(90deg); }

.ui {
  font-size: 5vw;
  color: #4C3522;
  transform: rotateZ(90deg);
  top: 20%;
  left: 40%;
  font-family: "Raleway", Helvetica, sans-serif; }

.ui.clicked {
  transform: rotateZ(135deg); }

.passionate {
  font-size: 6vw;
  color: #CC8C5A;
  left: 25%;
  top: 5%;
  font-family: "Raleway", Helvetica, sans-serif; }

.passionate.clicked {
  transform: rotateZ(-45deg); }

.compassionate {
  font-size: 3vw;
  color: #4C3522;
  left: 42%;
  top: 20%;
  font-family: "Raleway", Helvetica, sans-serif;
  transform: rotateZ(270deg); }

.compassionate.clicked {
  transform: rotateZ(0deg); }

.creative {
  font-size: 8vw;
  color: #CCAF97;
  right: 50%;
  bottom: 30%;
  font-family: "Exo", Helvetica, sans-serif; }

.creative.clicked {
  transform: rotateZ(-90deg); }

.uconn {
  font-size: 6vw;
  color: #CCAF97;
  left: 10%;
  bottom: 10%;
  font-family: "Exo", Helvetica, sans-serif; }

.uconn.clicked {
  transform: rotateZ(-145deg); }

.dm {
  font-size: 5vw;
  color: #4C3522;
  transform: rotateZ(90deg);
  top: 30%;
  right: 5%;
  font-family: "Raleway", Helvetica, sans-serif; }

.dm.clicked {
  transform: rotateZ(20deg); }

.tech {
  font-size: 5vw;
  color: #7F5838;
  transform: rotateZ(270deg);
  top: 40%;
  left: 10%;
  font-family: "Exo", Helvetica, sans-serif; }

.tech.clicked {
  transform: rotateZ(110deg); }

.grateful {
  font-size: 6vw;
  color: #CC8C5A;
  right: 5%;
  bottom: 40%;
  font-family: "Raleway", Helvetica, sans-serif; }

.grateful.clicked {
  transform: rotateZ(-60deg); }

.stem {
  font-size: 4vw;
  color: #CC8C5A;
  top: 5%;
  right: 5%;
  font-family: "Raleway", Helvetica, sans-serif; }

.stem.clicked {
  transform: rotateZ(100deg); }

.bravery {
  font-size: 3vw;
  top: 20%;
  left: 4%;
  transform: rotateZ(90deg);
  color: #7F5838; }

.bravery.clicked {
  transform: rotateZ(20deg); }

.patient {
  font-size: 5vw;
  top: 80%;
  left: 60%;
  color: #7F5838; }

.patient.clicked {
  transform: rotateZ(-30deg); }

.content:before {
  content: "";
  display: block;
  position: static;
  width: 40%;
  height: 30px;
  background: #7F5838;
  margin-top: 50px;
  margin-bottom: 120px; }

.line:before {
  content: "";
  display: block;
  position: static;
  height: 3px;
  background: #957F6E;
  margin: 5px; }

.wave1 {
  animation-delay: .5s; }

.wave2 {
  animation-delay: .8s !important; }

.wave3 {
  animation-delay: 1.0s !important; }

.wave4 {
  animation-delay: 1.5s !important; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
h2, .fade {
  opacity: 0;
  animation: fade-in 0.8s linear 1 forwards;
  -webkit-animation: fade-in 0.8s linear 1 forwards;
  -o-animation: fade-in 0.8s linear 1 forwards;
  -ms-animation: fade-in 0.8s linear 1 forwards;
  -moz-animation: fade-in 0.8s linear 1 forwards; }

.overlay-back {
  margin: 10px 0px;
  float: left; }

@media screen and (max-width: 991px) {
  .overlay-back {
    max-height: 35vh;
    overflow-y: hidden;
    padding: 0 !important;
    margin: 0; } }
.overlay-back.red {
  background: #7F5838;
  border-top: 4px solid #CCAF97; }

.overlay-back.dark-grey {
  background: #4C3522;
  border-bottom: 4px solid #CC8C5A; }

.overlay-back.light-grey {
  background: #CC8C5A;
  border-bottom: 4px solid #4C3522; }

.overlay-back.black {
  background: #CCAF97;
  border-top: 4px solid #7F5838; }

.overlay-back {
  position: relative;
  display: block; }

.overlay-back:hover div {
  opacity: 0;
  transition: opacity .4s linear; }

.overlay-text {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  padding: 17%;
  padding-bottom: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 2.2vw;
  color: #ffffff;
  transition: opacity .4s linear;
  transition-delay: .1s;
  font-family: "Exo", Helvetica, sans-serif; }

.overlay-back:hover .overlay-text {
  opacity: 1; }

.remove-space {
  margin: 0;
  padding: 0; }

.italics {
  font-style: italic; }

@media screen and (min-width: 992px) {
  .md-pull-up {
    margin-top: -25vh; }

  .md-pull-down {
    margin-top: 50px; } }
.project {
  position: relative;
  margin-top: 100px; }
  .project h2 {
    font-family: "Exo", Helvetica, sans-serif;
    color: #4C3522; }
  .project h3 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-style: italic;
    color: #CCAF97; }
  .project p {
    padding: 20px 20px 0px 15px;
    font-family: "Raleway", Helvetica, sans-serif;
    letter-spacing: .7px; }
  .project a, .project a:focus {
    color: #7F5838;
    transition: .2s all linear; }
  .project a:hover {
    color: #CCAF97;
    text-decoration: none; }
  .project .text-contain::before {
    content: "";
    display: block;
    background: #7F5838;
    position: absolute;
    height: 80%;
    width: 3px;
    top: 10%;
    left: -30px; }

.text-contain {
  padding-left: 12%; }

@media screen and (min-width: 992px) {
  .project::before {
    width: 3px; }

  .text-contain {
    padding-left: 0; } }
.modal-backdrop.in {
  background: rgba(155, 155, 155, 0.4); }

.modal-dialog {
  width: 80%;
  margin: 0 auto; }

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  padding: 8px 10px 10px 10px;
  background: #4C3522; }

.btn-primary::before {
  display: none; }

.border-top {
  border-top: 2px solid #CCAF97; }

.icon {
  width: 10%;
  width: 5vw;
  margin-right: 15px; }

@media screen and (min-width: 998px) {
  .icon {
    width: 2.5vw; } }

/*# sourceMappingURL=main.css.map */
