.secret-santa {
	position:relative;
	margin-top: 100px;
	h2 {
		font-family: $pro;
		color:$dark-grey;
	}
	h3 {
		font-family: $lato;
		font-style: italic;
		color:$red;
	}
	p {
		padding: 20px 20px 0px 15px;
		font-family: $lato;
		letter-spacing: .7px;
	}

	.text-contiain::before {
	content:"";
	display:block;
	background:$red;
	position:absolute;
	height:100px;
	width:30px;
	
	top:0;
	left: -15px;
	}

}
.secret-santa::before {
	content:"";
	display:block;
	background:$red;
	position:absolute;
	height:60%;
	width:3px;
	
	top:20%;
	left: 47.5%;
	}