
.project{
	position:relative;
	h2 {
		font-family: $exo;
		color:$accent-dark;
	}
	h3 {
		font-family: $raleway;
		font-style: italic;
		color:$accent-light;
	}
	p {
		padding: 20px 20px 0px 15px;
		font-family: $raleway;
		letter-spacing: .7px;
	}
	a, a:focus {
		color: $main;
		transition: 0.2s all ease;
	}
	a.btn-primary {
		position:relative;
		color:white;
		border:none;
		&:hover {
			background: $main;
			color:white;
		}
	}
	a:hover {
		color: $accent-light;
		text-decoration: none;

	}

	.text-contain::before {
	content:"";
	display:block;
	background:$main;
	position:absolute;
	height:80%;
	width:3px;
	
	top:10%;
	left: -30px;
	}

}
.text-contain {
		padding-left:12%;
}
.border-all, .border-all-dark {
	border: 3px solid $accent-dark;
}
.border-all-medium {
	border: 3px solid $main;
}
.border-all-light {
	border: 3px solid $accent-light;
}
.no-shadow {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.process-header {
	text-align:center;
	margin: 20px 0px;
}
.process-item {
	margin-top:20px;
}

@media screen and (min-width:992px) {
	.project::before {
		width: 3px;
	}
	.text-contain {
		padding-left:0;
	}
}
.modal-backdrop.in {
	background: rgba(155,155,155,0.4);
}
.modal-dialog {
	width: 80%;
	margin: 0 auto;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
	padding: 8px 10px 10px 10px;
	background: $accent-dark;
}
.btn-primary::before {
	display:none;
}
.border-top {
	border-top: 2px solid $accent-light;
}

.icon {
	width:10%;
	width:5vw; 
	padding-right: 5px;
	border-right: 1px solid $highlight;
	margin-right: 10px;
}
@media screen and (min-width: 998px) {
	.icon {
		width: 2.5vw;
	}
}