@import url('https://fonts.googleapis.com/css?family=Exo:300|Raleway:400');
@mixin vendor($prop, $value) {

	#{$prop}: $value;
	-webkit-#{$prop}: $value;
	-o-#{$prop}: $value;
	-ms-#{$prop}: $value;
	-moz-#{$prop}: $value;
}

@mixin key( $name )
{
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@mixin rotaZ($val) {
	transform: rotateZ($val);
}

$white: #ffffff;



$main: #FA5832;
$accent-light: #FA8C26;
$accent-dark: #FA5832/1.05;
$accent-mid: #ff6a1f;
$highlight: #E32645;



$raleway: 'Raleway', Helvetica, sans-serif;
$exo:'Exo', Helvetica, sans-serif;
// .road:before, .road:after {
// 	content:"";
// 	display:block;
// 	position:static;
// 	width:90%;
// 	height:2px;
// 	background: $dark-purple;
	
// }

body {
	margin-bottom: 100px;
	background: $white;
}
img,picture {
	width:100%; 
	transition:all .4s linear;
	-webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.2);
}
.project-col-header {
	margin-top:20px;
	text-align:center;
	font-size:22px;
	font-family:$raleway;
}
.align-center {
	text-align:center;
}
.margin-top-100 {
	margin-top:100px;
}
.margin-top-50 {
	margin-top:50px;
}

html, .container-fluid{
	padding-left:0;
	padding-right:0;
}
.row {
	width:100%;
	margin: 0;
}

@include key(fall) {
	0% {
		top: -40px;
		opacity: 0;
	}
	40% {
		opacity: .3;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}
.falls,.contact-info {
	top:-40px;
	opacity:0;
	position:relative;
	@include vendor(animation, fall 1.0s ease-out 0.5s forwards)
}
.contact-info {
	background: $accent-dark;
	border-bottom: 7px solid $main;
	padding:10px 5% 10px 5%;
	margin:0;
	width: 100%;
	font-family: $raleway;
	a {
		float:left;
		display: inline-block;
	}

}
address p {
	padding-top:11px;
	color:white;
}
.no-point {
	-webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
.btn, .btn:focus {
	position:relative;
	padding: 5px 0px;
	color: $white;
	text-align: center;
	display:inline-block;
	transition: all .4s ease-in;
	transition-delay:.2s;
	margin-top: 5px;
	margin-left:30px;

}

.btn::before {
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0%;
	width:0%;
	height: 3px;
	background: $white;
	transition: all .2s ease-in;
}
.btn:hover::before {
	width:80%;
}
.btn:hover {
	color: $white;
}

.content-container:before {
	content:"";
	display:block;
	position:static;
	margin-left:-10%;
	width:40%;
	height:20px;
	background:$highlight;
	margin-top:45px;
	margin-bottom: 20px;
}
.content-container {
	position:relative;
	padding:0px 7.5%;
}
.line:before {
	content:"";
	display:block;
	position:static;
	height:3px;
	background:$highlight;
	margin:5px;
}
.main-header {
	text-align:center;
	font-family: $raleway;
}
@include key(fade-in) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.overlay-back{
	margin: 10px 0px;
}
.wave1 {
	animation-delay: 0.5s;
}
.wave2 {
	animation-delay: 0.8s;
}
.wave3 {
	animation-delay: 1.0s;
}
.wave4 {
	animation-delay: 1.5s;
}

.overlay-back.red {
	background:$main;
	border-top:4px solid $accent-light;
}
.overlay-back.dark-grey {
	background: $accent-dark;
	border-bottom:4px solid $accent-mid;
}
.overlay-back.light-grey {
	background: $accent-mid;
	border-bottom:4px solid $accent-dark;

}
.overlay-back.black {
	background: $accent-light;
	border-top:4px solid $main;
}
.overlay-back {
	position:relative;
	display:block;
	background:black;
	
	
}



.overlay-text {
	opacity:0;
	width:100%;
	position:absolute;
	top:0%;
	left:0;
	padding:17%;
	padding-bottom:0;
	text-align:center;
	box-sizing:border-box;
	font-size:2.2vw;
	color:$white;
	transition: opacity .4s linear;
	transition-delay: .1s;
	font-family:$exo;
	
}

.remove-space {
	margin:0;
	padding:0;
}
.italics {
	font-style:italic;
}
.line-full {
	width:30%;
	height: 2vh;
	margin-top:30px;
	margin-bottom:40px;
	background:$highlight;
	position:absolute;
	right:0;
}
.item-link{
	&:hover {
		text-decoration:none;
	}
}
.item-container {
	background: $main;
	color:white;
	position:relative;
	bottom:0px;
	transition: all 0.3s ease;
	padding-bottom:10px;
	-webkit-box-shadow: -1px 4px 19px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 4px 19px 0px rgba(0,0,0,0.1);
    box-shadow: -1px 4px 19px 0px rgba(0,0,0,0.1);
}

.item-title {
	margin: 12px 5px 2px;
	font-size: 16px;
	font-family: $exo;
	text-align:center;
}
.item-desc {
	margin: 0px 10px 5px;
	font-size: 12px;
	font-family: $exo;
}
.item-details {
	position:relative;
	&:before, &:after {
		
		display:block;
		width:15%;
		position:absolute;
		top:-18px;
		height:6px;
		background:$highlight/1.03;
		transition: 0.4s all ease;
	}
	&:before{
		left:36%;
		background:$highlight/1.25;
	}
	&:after {
		right:36%;

	}

}
.item-container:hover {
	bottom:3px;
	-webkit-box-shadow: -1px 8px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0,0,0,0.2);
    box-shadow: -1px 8px 15px 0px rgba(0,0,0,0.2);
	.overlay-back div{
		opacity:.4;
		transition: opacity .4s linear;
	}
	.overlay-back .overlay-text {
		opacity:1;
	}
	.item-details {
		&:before {
			left:0;
		}
		&:after {
			right:0;
		}
	}
}

.md-pull-down {
		margin-top: 50px;
	}
@media screen and (min-width: 650px) {
	.item-title {
		font-size:20px;
	}
	.item-desc { 
		font-size: 16px;
	}

}
@media screen and (min-width: 767px) {
	.item-title {
		font-size:14px;
	}
	.item-desc { 
		font-size: 8px;
	}

}
@media screen and (min-width: 992px) {
	.item-title {
		font-size:1.6vw;
	}
	.item-desc { 
		font-size: .8vw;
	}
	.md-pull-up {
		margin-top: -25vh;
	}
	
	.line-after-mid {
		
		display: block;
		position:relative;
		background: $highlight;
		height: 4px;
		width: 80%;
		float:left;
		left:10%;
		top:20px;
		margin: 0 auto;

	}
	
	
}
.fade {
	opacity:1;
}
.background-main {
	background: $main;
}
.background-light {
	background: $accent-light;
}
.background-dark {
	background: $accent-dark;
}
.background-mid {
	background: $accent-mid;
}
.background-highlight {
	background: $highlight;
}
@import "project";