@import url('https://fonts.googleapis.com/css?family=Exo:300|Raleway:400');
@mixin vendor($prop, $value) {

	#{$prop}: $value;
	-webkit-#{$prop}: $value;
	-o-#{$prop}: $value;
	-ms-#{$prop}: $value;
	-moz-#{$prop}: $value;
}

@mixin key( $name )
{
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@mixin rotaZ($val) {
	transform: rotateZ($val);
}

$white: #ffffff;



$main: #7F5838;
$accent-light: #CCAF97;
$accent-dark: #4C3522;
$accent-mid: #CC8C5A;
$highlight: #957F6E;



$raleway: 'Raleway', Helvetica, sans-serif;
$exo:'Exo', Helvetica, sans-serif;
// .road:before, .road:after {
// 	content:"";
// 	display:block;
// 	position:static;
// 	width:90%;
// 	height:2px;
// 	background: $dark-purple;
	
// }
body {
	margin-bottom: 100px;
	
}
img,picture {
	width:100%;
	transition:all .4s linear;
	-webkit-box-shadow: -1px 4px 19px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 4px 19px 0px rgba(0,0,0,0.2);
    box-shadow: -1px 4px 19px 0px rgba(0,0,0,0.2);
}
h4 {
	margin-top:30px;
	text-align:center;
}
.align-center {
	text-align:center;
}
.margin-top-100 {
	margin-top:100px;
}
.margin-top-50 {
	margin-top:50px;
}

html, .container-fluid{
	padding-left:0;
	padding-right:0;
}
.row {
	width:100%;
	margin: 0;
}

@include key(fall) {
	0% {
		top: -40px;
		opacity: 0;
	}
	40% {
		opacity: .3;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}
.falls,.contact-info {
	top:-40px;
	opacity:0;
	position:relative;
	@include vendor(animation, fall 1.5s ease-out 1.0s forwards)
}
.contact-info {
	background: $accent-dark;
	border-bottom: 7px solid $main;
	padding:10px 5% 10px 5%;
	margin:0;
	width: 100%;
	font-family: $raleway;
	a {
		float:left !important;
		display: inline-block !important;
	}

}
address p {
	padding-top:11px;
	color:white;
}
.no-point {
	-webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
.btn, .btn:focus {
	position:relative;
	padding: 5px 0px;
	color: $white;
	text-align: center;
	display:inline-block;
	transition: all .4s ease-in;
	transition-delay:.2s;
	margin-top: 5px;
	margin-left:30px;

}

.btn::before {
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0%;
	width:0%;
	height: 3px;
	background: $highlight;
	transition: all .2s ease-in;
}
.btn:hover::before {
	width:80%;
}
.btn:hover {
	color: $highlight;
}
.circle-after {
	position:relative;
}
.circle-after::before {
	content:"\25cf";
	position:absolute;
	left:0; top:30%;
	color:$accent-light;

}
.quote {
	position:relative;
	padding-bottom: 80vh;
}
.quote h2 {
	position:absolute;
	transition: all .5s ease-in;

	cursor:default;
}
.quote h2:hover {
	color:black;
	cursor:default;
	z-index: 5;
}



.teamwork {
	font-size: 7vw;
	position:absolute;
	top:40%;
	left:35%;
	color:$accent-mid;
	font-family: $raleway;
}
.teamwork.clicked {
	@include rotaZ(45deg);
}
.art {
	font-size:5vw;
	position: absolute;
	top:20%;
	right:30%;
	color:$accent-dark;
	font-family: $exo;
}
.art.clicked {
	@include rotaZ(135deg);
}
.engr{
	font-size:6vw;
	color:$accent-light;
	position:absolute;
	top:35%;
	right:13%;
	transform:rotateZ(270deg);
	font-family: $exo;
}
.engr.clicked {
	@include rotaZ(360deg);
}
.cosplay {
	font-size:4vw;
	color:$accent-dark;
	bottom:0;
	left:4%;
	font-family: $exo;
}
.cosplay.clicked {
	@include rotaZ(270deg);
}
.dance {
	font-size: 3vw;
	color:$accent-light;
	position:absolute;
	transform:rotateZ(90deg);
	bottom: 5%;
	left:0;
	font-family: $raleway;

}
.dance.clicked {
	@include rotaZ(135deg);
}
.curious {
	font-size:5vw;
	color:$main;
	left:5%;
	top:20%;
	font-family: $exo;
}
.curious.clicked {
	@include rotaZ(60deg);
}
.kind {
	font-size:7vw;
	color:$main;
	right:30%;
	bottom:20%;
	font-family: $exo;
}
.kind.clicked {
	@include rotaZ(35deg);
}
.web {
	font-size:6vw;
	color:$accent-light;
	right:5%;
	bottom:10%;
	font-family: $raleway;
}
.web.clicked {
	@include rotaZ(165deg);
}
.ux {
	font-size:4vw;
	color:$accent-light;
	top:50%;
	left:10%;
	font-family: $exo;
}
.ux.clicked {
	@include rotaZ(90deg);
}
.ui {
	font-size:5vw;
	color:$accent-dark;
	transform: rotateZ(90deg);
	top:20%;
	left:40%;
	font-family: $raleway;
}
.ui.clicked {
	@include rotaZ(135deg);
}
.passionate {
	font-size:6vw;
	color:$accent-mid;
	left:25%;
	top:5%;
	font-family: $raleway;

}
.passionate.clicked {
	@include rotaZ(-45deg);
}
.compassionate {
	font-size:3vw;
	color:$accent-dark;
	left:42%;
	top:20%;
	font-family: $raleway;
	transform: rotateZ(270deg);

}
.compassionate.clicked {
	@include rotaZ(0deg);
}
.creative {
	font-size:8vw;
	color:$accent-light;
	right:50%;
	bottom:30%;
	font-family: $exo;
}
.creative.clicked {
	@include rotaZ(-90deg);
}
.uconn {
	font-size:6vw;
	color:$accent-light;
	left:10%;
	bottom:10%;
	font-family: $exo;
}
.uconn.clicked {
	@include rotaZ(-145deg);
}
.dm {
	font-size: 5vw;
	color:$accent-dark;
	transform: rotateZ(90deg);
	top:30%;
	right:5%;
	font-family: $raleway;
}
.dm.clicked {
	@include rotaZ(20deg);
}
.tech {
	font-size: 5vw;
	color:$main;
	transform: rotateZ(270deg);
	top: 40%;
	left:10%;
	font-family: $exo;
}
.tech.clicked {
	@include rotaZ(110deg);
}
.grateful {
	font-size:6vw;
	color:$accent-mid;
	right:5%;
	bottom:40%;
	font-family: $raleway;
}
.grateful.clicked {
	@include rotaZ(-60deg);
}
.stem {
	font-size: 4vw;
	color:$accent-mid;
	top:5%;
	right:5%;
	font-family: $raleway;
}
.stem.clicked {
	@include rotaZ(100deg);
}
.bravery {
	font-size: 3vw;
	top:20%;
	left:4%;
	transform: rotateZ(90deg);
	color:$main;
}
.bravery.clicked {
	@include rotaZ(20deg);
}
.patient {
	font-size: 5vw;
	top: 80%;
	left: 60%;
	color:$main;
}
.patient.clicked {
	@include rotaZ(-30deg);
}
.unique {
	font-size:3vw;
	top:50%;
	left:0;
	transform: rotateZ(90deg);
	color:$accent-dark;
}
.unique.clicked {
	transform: rotateZ(0deg);
}
.candid {
	font-size: 3vw;
	bottom: 0;
	left:30%;
	color:$highlight;
}
.candid.clicked {
	transform: rotateZ(60deg);
}
.dependable {
	font-size: 3vw;
	top:2%;
	left:5%;
	color:$accent-light;
}
.dependable.clicked {
	transform: rotateZ(30deg);
}
.listener {
	font-size: 4vw;
	color:$main;
	left:40%;
	bottom:10%;
}
.listener.clicked {
	transform: rotateZ(-60deg);
}
.content:before {
	content:"";
	display:block;
	position:static;
	width:40%;
	height:30px;;
	background:$main;
	margin-top:50px;
	margin-bottom: 120px;
}

.line:before {
	content:"";
	display:block;
	position:static;
	height:3px;
	background:$highlight;
	margin:5px;
}

.wave1 {
	animation-delay: .5s;
}
.wave2 {
	animation-delay: .8s !important;
}
.wave3 {
	animation-delay: 1.0s !important;
}
.wave4 {
	animation-delay: 1.5s !important;
}

@include key(fade-in) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h2, .fade{
	 opacity: 0;
	 @include vendor(animation, fade-in .8s linear 1 forwards)
	 // animation: fade-in 5s linear 2s infinite forward;
	 // -webkit-animation: fade-in 5s linear 2s infinite alternate;
}
.overlay-back{
	margin: 10px 0px;
	float:left;
}
@media screen and (max-width:991px) {
	.overlay-back{
	max-height: 35vh;
	overflow-y:hidden;
	padding:0 !important;;
	margin:0;
	}
}
.overlay-back.red {
	background:$main;
	border-top:4px solid $accent-light;
}
.overlay-back.dark-grey {
	background: $accent-dark;
	border-bottom:4px solid $accent-mid;
}
.overlay-back.light-grey {
	background: $accent-mid;
	border-bottom:4px solid $accent-dark;

}
.overlay-back.black {
	background: $accent-light;
	border-top:4px solid $main;
}
.overlay-back {
	position:relative;
	display:block;
	
	
}
.line-left {

}
.overlay-back:hover div{
	opacity:0;
	transition: opacity .4s linear;
}
.overlay-text {
	opacity:0;
	width:100%;
	position:absolute;
	top:0%;
	left:0;
	padding:17%;
	padding-bottom:0;
	text-align:center;
	box-sizing:border-box;
	font-size:2.2vw;
	color:$white;
	transition: opacity .4s linear;
	transition-delay: .1s;
	font-family:$exo;
	
}
.overlay-back:hover .overlay-text {
	opacity:1;
}
.remove-space {
	margin:0;
	padding:0;
}
.italics {
	font-style:italic;
}
.line-full {
	width:30%;
	height: 2vh;
	margin-top:30px;
	margin-bottom:40px;
	background:$highlight;
	position:absolute;
	right:0;
}
@media screen and (min-width: 992px) {
	.md-pull-up {
		margin-top: -25vh;
	}
	.md-pull-down {
		margin-top: 50px;
	}
	.line-after-mid {
		
		display: block;
		position:relative;
		background: $highlight;
		height: 4px;
		width: 80%;
		float:left;
		left:10%;
		top:20px;
		margin: 0 auto;

	}
	
}

@import "project";